{% extends 'base.html.twig' %}

{% block title %}Editer l'objectif{% endblock %}

{% block body %}
    <h1>Editer l'objectif</h1>

    {{ include('objectif/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('objectives') }}">back to list</a>

    {{ include('objectif/_delete_form.html.twig') }}
{% endblock %}
