{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css' rel='stylesheet' />
{% endblock %}

{% block body %}
    <h1>Calendrier des Événements</h1>
    <div id='calendar'></div>
{% endblock %}

{% block additionnal_javascripts %}
    {{ parent() }}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                headerToolbar: {
                    center: 'prev,next today',
                    left: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay list'
                },
                weekNumberCalculation:"ISO",
                navLinks:true,
                events: '{{ path("get_dates") }}',
                locale: 'fr',
                editable: true,
                selectable: true,
                selectHelper: true
            });
            calendar.render();
        });
    </script>
{% endblock %}
